.list-group {
    width: auto;
    max-width: 500px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}

.gap-3 {
    gap: 1rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}